$base-font-size: 22px;

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin thouspx {
  @media (max-width: 1000px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: $base-font-size;
  font-family: Arial;
  line-height: 1.5;
  background: #ffa;

  @include ph {
    color: #fff;
    background-color: #000;
  }
}

header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.3vh 45vw 7.3vh 7vw;
  height: 20vh;

  @include thouspx {
    padding: 7.3vh 10vw 7.3vh 7vw;
  }
}

.logo {
  width: 42px;
  height: 50px;
}

.logo img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

header nav ul {
  position: relative;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  padding: 15px;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  display: block;
}

header nav ul li a:hover {
  color: #74ff73;
}

nav ul li ul {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
}

nav ul li:hover > ul {
  display: initial;
}

nav ul li ul li {
  width: 100%;
}

@import "block/*.scss";
