$base-font-size: 16px;
$padding-left: 7vw;
$padding-right: 7vw;
$background-color: #000;
$title-font-size: 80px;
$title-font-size-mobile: 40px;
$main-font-size: 16px;
$smaller-font-size: 14px;
$main-font-weight: 500;
$smaller-font-weight: 400;
$inputs-padding: 14px 15px 16px 20px;

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin thouspx {
  @media (max-width: 1000px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "M PLUS 1", sans-serif;
  font-size: $main-font-size;
  line-height: 1.5;
  background: $background-color;
  overflow-x: hidden;
  color: white;
}

@import "block/*.scss";
