.faq-section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.faq-container {
  color: white;
  padding-left: 7vw;
  display: flex;
  justify-content: space-between;
}

.faq-container h1 {
  font-size: 68px;
  width: 10vw;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 68vw;
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: #636264;
}
.accordion-title {
  padding: 20px;
}

.accordion-content {
  visibility: hidden;
  padding: 6px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}

.accordion-content.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}

.accordion-container {
  margin-right: 4vw;

  border-top: 2px solid;
  border-color: white;
}
