.footer {
  width: 100vw;
  height: fit-content;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 7vw;
  padding-right: 7vw;
  background-color: #312f35;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 120px;

  @include ph {
    padding-top: 10vh;
    padding-bottom: 15vh;
    flex-direction: column;
    gap: 30px;
    // align-items: center;
    justify-content: center;
  }
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .footer-content p {
  text-decoration: underline;
}

.footer .footer-content .footer-text p {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 30px;

  @include ph {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer-text h3 {
  font-size: 16px;
  font-weight: 500;
}

.footer-content a {
  text-decoration: none;
  color: white;
}
