.form-section {
  background-color: white;
  color: black;
  width: 100vw;
  height: fit-content;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2vh;
  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: $title-font-size;
    font-weight: 500;

    @include ph {
      font-size: $title-font-size-mobile;
    }
  }

  p {
    width: 27vw;
    font-size: $main-font-size;
    font-weight: 400;

    @include ph {
      width: 100%;
    }
  }

  .form-button {
    width: 141px;
    padding: 14px 20px 16px 20px;
    outline: none;
    border: 1px solid;
    border-color: #cececf;
    border-radius: 15px;
    background-color: transparent;
  }
  .form-button span {
    color: black;
    font-size: $main-font-size;
    line-height: 20px;

    @include ph {
      font-size: $smaller-font-size;
    }
  }

  .form-button:hover {
    cursor: pointer;
    background-color: #74ff73;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-div {
      display: flex;
      flex-direction: row;
      gap: 20px;

      @include ph {
        flex-direction: column;
      }

      .form-input {
        width: 400px;
        height: 44px;
        outline: none;
        border: 1px solid;
        border-color: #cececf;
        border-radius: 15px;
        // border-radius: 15px;
        padding: 10px;
        @include ph {
          width: 100%;
        }
      }
      .form-input:focus {
        border-color: black;
      }
    }
  }
}
