.mob-container {
  background-color: $background-color;
  position: fixed;
  left: 100%;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 20vh;
  padding-right: $padding-right;
  transition: 0.5s ease-in-out;
  z-index: 50;
}

.mob-container-active {
  @include ph {
    width: 80%;
    height: 100vh;
    left: 30vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: $padding-right;
  }
}

.ph-acc-container {
  display: flex;
  flex-direction: column;
}

.ph-menu {
  display: none;
  @include ph {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    width: 36px;
    height: 24px;
  }
}
.bar {
  width: 36px;
  height: 3px;
  background-color: white;
  z-index: 50;
}

.active-bar1 {
  transform: rotateZ(45deg) translateX(5px) translateY(4px);
  transition: 0.4s;
}
.active-bar2 {
  transform: rotateZ(-45deg) translateY(-3px) translateX(4px);
  transition: 0.4s;
}
.active-bar3 {
  display: none;
}

.semi-bar {
  width: 18px;
  height: 3px;
  background-color: white;
}

.ph-acc {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ph-acc-title {
  cursor: pointer;
  display: flex;
}

.ph-acc-content {
  display: flex;
  cursor: pointer;
}

.ph-acc-content {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}

.ph-acc-content.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}
.ph-content-sub {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 40px;
}

.ph-acc-title h3 {
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  padding-left: 20%;
}
.ph-acc-title h3:hover {
  color: $header-hover-color;
}

.ph-content-sub p {
  padding-left: 33%;

  font-size: $smaller-font-size;
  font-weight: $main-font-weight;
}

.ph-content-sub p:hover {
  color: $header-hover-color;
}

.filter-mob {
  display: none;
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.filter-mob-active {
  @include ph {
    display: block;
  }
}
