.mob-container {
  font-size: 2rem;
  background-color: black;
  display: none;
}

.mob-container-active {
  @include ph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 20vh;
    width: 80%;
    height: 100vh;
    padding-right: 7vw;
  }
}

.ph-acc-container {
  display: flex;
  flex-direction: column;
}

.ph-menu {
  display: none;
  @include ph {
    cursor: pointer;
    display: block;
    background-image: url(../../img/menuPhone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    outline: none;
    width: 36px;
    height: 24px;
    border: none;
  }
}

.ph-menu img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ph-acc {
  display: flex;
  flex-direction: column;
}

.ph-acc-title {
  cursor: pointer;

  display: flex;
  //   justify-content: end;
}

.ph-acc-content {
  display: flex;
  //   justify-content: end;
  cursor: pointer;
}

.ph-acc-content {
  visibility: hidden;
  padding: 6px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}

.ph-acc-content.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}
.ph-content-sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.ph-acc-title h3 {
  padding-left: 20%;
}
