.mob-container {
  background-color: $background-color;
  position: fixed;
  left: 100%;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 20vh;
  padding-right: $padding-right;
  transition: 0.5s ease-in-out;
}

.mob-container-active {
  @include ph {
    width: 80%;
    height: 100vh;
    left: 30vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: $padding-right;
  }
}

.ph-acc-container {
  display: flex;
  flex-direction: column;
}

.ph-menu {
  display: none;
  @include ph {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    width: 36px;
    height: 24px;
  }
}
.bar {
  width: 36px;
  height: 3px;
  background-color: white;
}

.active-bar1 {
  transform: rotateZ(45deg) translateX(5px) translateY(4px);
  transition: 0.4s;
}
.active-bar2 {
  transform: rotateZ(-45deg) translateY(-3px) translateX(4px);
  transition: 0.4s;
}
.active-bar3 {
  display: none;
}

.semi-bar {
  width: 18px;
  height: 3px;
  background-color: white;
}

.ph-menu img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ph-acc {
  display: flex;
  flex-direction: column;
}

.ph-acc-title {
  cursor: pointer;

  display: flex;
}

.ph-acc-content {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.ph-acc-content {
  visibility: hidden;
  padding: 6px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}

.ph-acc-content.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out 0.3s;
}
.ph-content-sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.ph-acc-title h3 {
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  padding-left: 27%;
}

.ph-content-sub p {
  padding-left: 0vw;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: $smaller-font-size;
  font-weight: $main-font-weight;
}
