header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.3vh 45vw 7.3vh 7vw;
  height: 20vh;
  z-index: 40;

  @include thouspx {
    padding: 7.3vh $padding-left;
  }
}

.logo {
  width: 42px;
  height: 50px;
}

.logo img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
header nav ul {
  position: relative;
  @include ph {
    display: none;
  }
}

header nav ul li {
  float: left;
}

header nav ul li a {
  z-index: 40;
  padding: 15px;
  color: #fff;
  background-color: #000;
  font-size: $main-font-size;
  display: block;
}

header nav ul li a:hover {
  color: #74ff73;
}

header nav ul li a:hover > div {
  display: block;
}

nav ul li ul {
  position: absolute;
  display: none;
  width: 80%;
  left: 0;
  z-index: 30;
  padding-top: 5.2vh;
  padding-bottom: 5.2vh;
  background-color: #000;
}

nav ul li div {
  position: absolute;
  width: 200vw;
  height: 27vh;
  left: 0;
  display: none;
  transform: translateX(-50%);
  background-color: #000;
  z-index: 10;
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav ul li:hover > div {
  display: initial;
}

nav ul li ul li {
  width: 50%;
}
.toend {
  display: flex;
  justify-content: end;
}

nav ul li ul li a {
  padding-left: 10px;
  padding-top: 3px;
}

.par-active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.filter {
  display: none;
  width: 200vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 20vh;
  left: 0;
  z-index: 10;
}

.filter:hover {
  display: none;
}
