.news-section {
  color: white;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: $section-padding-main;
  padding-bottom: $section-padding-main;

  @include ph {
    display: none;
  }
}

.news-container h1 {
  padding-bottom: 14px;
  font-size: $title-font-size;
  font-weight: $main-font-weight;
}

.news-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27vw, 1fr));
  gap: 30px;
}

.news-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.news-card {
  height: fit-content;
}

.news-card h3 {
  font-size: $main-font-size;
  font-weight: $main-font-weight;

  margin-top: 30px;
  margin-bottom: 10px;
}

.news-card p {
  font-size: $smaller-font-size;
  font-weight: $main-font-weight;
}
