.swiper {
  position: relative;
  width: 100vw;
  height: 80vh;
  padding-left: 7vw;
  padding-right: 7vw;
  @include ph {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 61vh;
  width: 50%;
  position: relative;
}

.swiper-slide h1 {
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 60%;
  left: 7%;
  z-index: 40;
  @include ph {
    font-size: 3rem;
  }
}
.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.swiper-button-prevCustom {
  position: absolute;
  bottom: 50px;
  left: 47%;
  background-image: url("../../img/swiperArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 40px;
  background-size: contain;
  z-index: 50;
  transform: scaleX(-1) translateX(100%);
}
.swiper-button-prevCustom:hover {
  position: absolute;
  bottom: 50px;
  left: 47%;
  background-image: url("../../img/swiperArrowHover.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 40px;
  background-size: contain;
  z-index: 50;
  transform: scaleX(-1) translateX(100%);
}

.swiper-button-nextCustom {
  position: absolute;
  bottom: 50px;
  right: 47%;
  background-image: url("../../img/swiperArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 40px;
  background-size: contain;
  z-index: 50;

  transform: translateX(100%);
}
.swiper-button-nextCustom:hover {
  position: absolute;
  bottom: 50px;
  right: 47%;
  background-image: url("../../img/swiperArrowHover.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 40px;
  background-size: contain;
  z-index: 50;

  transform: translateX(100%);
}
