extends layout/app

block page 
  include chunk/header

  h1.title Glavnaya!
  img(src="img/slide1Bg.jpg", alt="New York", width="500")
  ul.news
    each item in news
        li= item.name

  include chunk/footer 

